@page "/fetchuserdetails"
@using BlazorCRUD.Shared.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1>User Data</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <a href='/user/add' class="btn btn-primary" role="button">
            <i class="fas fa-user-plus"></i>
            Add User
        </a>
    </div>
    <div class="input-group col">
        <input type="text" class="form-control" placeholder="Search user by name"
               @bind="UserSearchString" @bind:event="oninput" @onkeyup="FilterUser" />
        @if (UserSearchString.Length > 0)
        {
            <div class="input-group-append">
                <button class="btn btn-danger" @onclick="ResetSearch">
                    X
                </button>
            </div>
        }
    </div>
    <div class="input-group col">
        <input type="text" class="form-control" placeholder="Search user by Address"
               @bind="AddressSearchString" @bind:event="oninput" @onkeyup="FilterUserAddress" />
        @if (AddressSearchString.Length > 0)
        {
            <div class="input-group-append">
                <button class="btn btn-danger" @onclick="ResetSearch">
                    X
                </button>
            </div>
        }
    </div>
</div>
<br />
@if (userList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped align-middle table-bordered">
        <thead class="table-success">
            <tr>
                <th>ID</th>
                <th>Date Added</th>
                <th>Time Added</th>
                <th>Name</th>
                <th>Address</th>
                <th>Cell Phone Number</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in userList)
            {
                <tr>
                    <td>@user.Userid</td>
                    <td>@user.DateAdded.ToShortDateString()</td>
                    <td>@user.DateAdded.ToString("hh:mm:ss tt")</td>
                    <td>@user.FirstName @user.LastName</td>
                    <td>@user.StreetAddress, @user.City @user.State @user.Zip</td>
                    <td>@user.Cellnumber.ToString("(###) ###-####")</td>
                    <td>@user.Emailid</td>
                    <td>
                        <a href='/user/edit/@user.Userid' class="btn btn-outline-dark" role="button">
                            Edit
                        </a>
                        <a href='/user/delete/@user.Userid' class="btn btn-outline-danger" role="button">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
<div class="form-group">
    <input type="submit" value="View All Accounts Details" @onclick="NavigateToAccount" class="btn btn-success" />
    <button class="btn btn-primary" @onclick="GenerateRandomUser">Create Random User</button>
</div> 
@code {
    protected List<User> userList = new();
    protected List<User> searchUserData = new();
    protected User user = new();
    protected string UserSearchString { get; set; } = string.Empty;
    protected string AddressSearchString { get; set; } = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        await GetUser();
    }
    protected async Task GetUser()
    {
        userList = await Http.GetFromJsonAsync<List<User>>("api/User");
        searchUserData = userList;
    }
    protected void FilterUser()
    {
        if (!string.IsNullOrEmpty(UserSearchString))
        {
            userList = searchUserData
                .Where(x => x.FirstName.IndexOf(UserSearchString, StringComparison.OrdinalIgnoreCase) != -1 ||
                        x.LastName.IndexOf(UserSearchString, StringComparison.OrdinalIgnoreCase) != -1)
                .ToList();
        }
        else
        {
            userList = searchUserData;
        }
    }
    protected void FilterUserAddress()
    {
        if (!string.IsNullOrEmpty(AddressSearchString))
        {
            userList = searchUserData
                .Where(x => x.StreetAddress.IndexOf(AddressSearchString, StringComparison.OrdinalIgnoreCase) != -1 ||
                            x.City.IndexOf(AddressSearchString, StringComparison.OrdinalIgnoreCase) != -1 ||
                            x.State.IndexOf(AddressSearchString, StringComparison.OrdinalIgnoreCase) != -1)
                .ToList();
        }
        else
        {
            userList = searchUserData;
        }
    }
    protected void DeleteConfirm(int userID)
    {
        user = userList.FirstOrDefault(x => x.Userid == userID);
    }
    public void ResetSearch()
    {
        AddressSearchString = string.Empty;
        UserSearchString = string.Empty;
        userList = searchUserData;
    }
    void NavigateToAccount(){
        NavigationManager.NavigateTo("/fetchuseraccounts");
    }
    public async Task GenerateRandomUser()
    {
        Console.WriteLine("random user button pressed");
        var x = await Http.PostAsync("api/user/randomadd", null);
        userList = await Http.GetFromJsonAsync<List<User>>("api/User");
        await OnInitializedAsync();
        //NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    }
}